<section class="marketplace-chart">
  <div class="chart-wrapper">
@if (data$ | async; as data) {
  <canvas baseChart (chartClick)="onChartClick($event.active)"
          [data]="barChartData"
          [options]="barChartOptions"
          chartType="bar">
          
  </canvas>
} 
   @else {
      <div class="chart-loading">Loading...</div>

}
</div>
</section>
<section class="show-prices">
  <h2>Current Market Prices</h2>

  @if (data$ | async; as data) {
    <div class="price-list">
      @for (item of data; track $index) {
        <div (click)="onClick(item)" class="price-item">
          <span class="product-name">{{ item.product_Name }}</span>

          <div class="price-pair">
            <span class="product-price product-price-purchase">
              Buy: {{ item.purchase_Price_Per_Unit }} HUF
            </span>
            <span class="product-price product-price-sale">
              Sell: {{ item.sale_Price_Per_Unit }} HUF
            </span>
          </div>
        </div>
      }
    </div>
  } @else {
    <p>Loading prices...</p>
  }
</section>

