<form [formGroup]="form" class="admin-panel-form">
  <div class="admin-panel">
    <h1>Admin Panel</h1>
    <section class="users-section">
      <div class="users-header" (click)="toggleUsers()">
        <h2>Users Management</h2>
        <span class="users-toggle-icon">
          {{ isUsersOpen ? '▲' : '▼' }}
        </span>
      </div>
      <div
        class="users-wrapper"
        [class.users-wrapper-open]="isUsersOpen && !isUsersClosing"
        [class.users-wrapper-closing]="isUsersClosing"
        *ngIf="isUsersOpen || isUsersClosing"
      >
        @if (isUsersOpen || isUsersClosing) {
          <div *ngIf="currentUser$ | async as me">
            <table class="users-table">
              <thead>
                <tr>
                  <th *ngIf="me.role === 'Admin'">ID</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th *ngIf="me.role === 'Admin'">Address</th>
                  <th *ngIf="me.role === 'Admin'">Role</th>
                  <th>Credits</th>
                  <th *ngIf="me.role === 'Admin'">Actions</th>
                </tr>
              </thead>

              @if (users$ | async; as users) {
                <tbody>
                  @for (user of users; let i = $index; track user.user_Id) {
                    <tr [style.--delay-ms.ms]="(i + 1) * 40" [class.user-inactive]="!user.isActive">
                      <td *ngIf="me.role === 'Admin'">{{ user.user_Id }}</td>
                      <td>{{ user.username }}</td>
                      <td>{{ user.email }}</td>
                      <td *ngIf="me.role === 'Admin'">{{ user.address }}</td>
                      <td *ngIf="me.role === 'Admin'">{{ user.role }}</td>
                      <td>{{ user.credits }}</td>

                      <td *ngIf="me.role === 'Admin'">
                        <button (click)="openUserEdit(user)" class="btn-edit">Edit</button>
                        <button (click)="deleteUser(user.user_Id)" class="btn-delete">
                          Delete
                        </button>
                        <button
                          (click)="
                            user.isActive
                              ? deactivateUser(user.user_Id)
                              : activateUser(user.user_Id)
                          "
                          class="btn-delete"
                          [class.btn-activate]="!user.isActive"
                        >
                          {{ user.isActive ? 'Deactivate' : 'Activate' }}
                        </button>
                      </td>
                    </tr>
                  }
                </tbody>
              } @else {
                <tbody>
                  <tr>
                    <td colspan="7">Loading users...</td>
                  </tr>
                </tbody>
              }
            </table>
          </div>

          <button type="button" (click)="openUserCreate()" class="btn-primary">Add User</button>
        }
      </div>
    </section>
    <section class="marketplace-section">
      <h2>Marketplace Items - Price Management</h2>

      <table class="marketplace-table">
        <thead>
          <tr>
            <th>Item ID</th>
            <th>Item Name</th>
            <th class="col-purchase">Current Purchase Price</th>
            <th class="col-sale">Current Sale Price</th>
            <th class="col-purchase">New Purchase Price</th>
            <th class="col-sale">New Sale Price</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          @if (items$ | async; as items) {
            @for (item of items; let i = $index; track item.product_Id) {
              <tr>
                <td>{{ item.product_Id }}</td>
                <td>{{ item.product_Name }}</td>

                <td class="price-cell price-purchase">{{ item.purchase_Price_Per_Unit }} HUF</td>

                <td class="price-cell price-sale">{{ item.sale_Price_Per_Unit }} HUF</td>

                <td class="price-cell" formArrayName="newPurchase">
                  <button mat-icon-button type="button" (click)="decrement(i)">
                    <mat-icon>remove</mat-icon>
                  </button>

                  <input
                    matInput
                    class="quantity-input no-spinner no-outline"
                    type="number"
                    [formControlName]="i"
                  />

                  <button mat-icon-button type="button" (click)="increment(i)">
                    <mat-icon>add</mat-icon>
                  </button>
                </td>
                <td class="price-cell" formArrayName="newSale">
                  <button mat-icon-button type="button" (click)="decrementSale(i)">
                    <mat-icon>remove</mat-icon>
                  </button>

                  <input
                    matInput
                    class="quantity-input no-spinner no-outline"
                    type="number"
                    [formControlName]="i"
                  />

                  <button mat-icon-button type="button" (click)="incrementSale(i)">
                    <mat-icon>add</mat-icon>
                  </button>
                </td>

                <td>
                  <button type="button" (click)="updatePrice(item, i)" class="btn-update">
                    Update
                  </button>
                </td>
              </tr>
            }
          } @else {
            <tr>
              <td colspan="7">Loading prices...</td>
            </tr>
          }
        </tbody>
      </table>
    </section>
  </div>
</form>
